body{
    background-color: rgb(205, 205, 205);
}
#board{
    
    
    width: fit-content;
    display: grid;
    gap: 10px;
    
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px 140px;
}
#sheet{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
#sheet > div:nth-child(1){
    text-align: center;
    font-weight: bolder;

    font-size: 30px;
}
#sheet > div:nth-child(2){
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    flex-direction: row;
}

.item{
    color: black;
    box-shadow: 0 5px 5px rgb(151, 151, 151);
    opacity: 1;
    background-color: white;
}
#text{
    font-size: 100px;
    color: black;
    margin-top: 20px;
}
.wrapper{
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.wrapper>div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 50px;
}

input[type=radio] {
    display: none;
  }
  input[type=radio] + label {
    
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #848484;
 
  }
 input[type=radio] + label:hover {
    border: 1px solid black;
  }
  input[type=radio]:checked + label {
    border: 1px solid black;
  }